@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*.{
    margin: 0px;
    padding: 0px;
}
.azeret-mono-> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;}

    /* banner style */

.banner{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    height: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* position: absolute;
width: 1440px;
height: 652px;
left: 0;
right: 0;
top: 131px;
bottom: 4462px; */
}
.banner-h1{
   color: black;
   text-align: center;
   text-transform: uppercase;
   padding-top: 200px;

}   
.banner-h2{
color: rgb(13, 19, 33);
text-align: center;
opacity: 00.5;
padding-top: 5px;
}
.banner-image{
   align-items: center;
   align-content: start;
position:absolute;
padding-bottom: 250px;

}
#btn{
    display: block;
    position: relative;
    flex-direction: column;
}
.banner-btn{
    background-color: darkseagreen;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    justify-items: end;
    
}
.banner-btn:hover{
    background-color: burlywood;
    transition: 0.5s ease-in;
}
/* article style */
.article-section-1 {
    margin: 0 auto;
    
    margin-top: 100px;
   


}
.frame{
width: 1140px;
height: 614px;
position: relative;
margin: 0 auto;
}
.bingo iframe{
    position: absolute;
    width: 1140px;
height: 614px;
}
#head{
 text-align: center;
 height: 200px;
 
 width: 100%;
 
}
.section-1{
    display:flex ;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}
.left-1{
    padding-right: 70px;
    margin-right: 80px;
text-align: justify;
}
.left-1 button{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}
.section-2{
    display:flex ;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}
.left-2{
 padding-right: 100px;
 
}
.right-2 button{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}
.section-3{
    display:flex ;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}
.left-3{
    padding-right: 70px;
    margin-right: 80px;
text-align: justify;
}
.left-3 button{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}
.easy{
    margin: 0 auto;

    margin-top: 100px;
}
#header{
    text-align: center;
    height: 200px;
  
    width: 100%;
}
.skills{
    display: flex;
    gap: 20px;
    height: 460px;
    width: 1140px;
    margin-left: 350px;
    margin-top: 100px;
}
.skill-1{
 background-color:antiquewhite ;
 padding: 40px;
}
.skill-1 img{
   height: 64px;

}
.skill-1 h5{
font-size: 20px;
 font-weight: 600;
}
.skill-1 p{
    opacity: 0.5;
}
.skill-1 a{
    color: black;
}

.skill-2{
 background-color: aqua;
 padding: 40px;
}
.skill-2 img{
    height: 64px;
}
.skill-2 h5{
    font-size: 20px;
 font-weight: 600;
}
.skill-2 p{
    opacity: 0.5;
}
.skill-2 a{
  color: black;
}

.skill-3{
 background-color: bisque;
 padding: 40px;
}
.skill-3 img{
    height: 64px;
 
 }
 .skill-3 h5{
 font-size: 20px;
  font-weight: 600;
 }
 .skill-3 p{
     opacity: 0.5;
 }
 .skill-3 a{
     color: black;
 }
/* support */

.support{
    background-image: linear-gradient( rgba( 0,0,0,0.812), rgba(0,0,0,0.669)),url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
     height: 313px;
     margin-left: 350px;
     margin-top: 100px;
     flex-direction: column;
}
.sup{

}
.in{
    
}
div input[type="text"]{
     height: 50px;
     width: 400px;
     padding: 10px,20px;
     background-color: white;
     display: block;
     border: none;
    
}
div input[type="submit"]{
      width: 100px;
      height: 50px;
      margin-top: 10px;
      margin-left: 120px;
      
}
/* footer */

.foot{
    width: 1100px;
    height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
 
}
.icone{
    margin-top: 200px;
    padding: 100px;
}